* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background: #070f2b;
}

.container {
  width: 400px;
  height: 400px;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  padding: 20px;
  background: #fff;
  /* text-align: center; */
  border-radius: 10px;
}

.container p {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
}

input,
button {
  width: 100%;
  padding: 10px 15px;
  outline: none;
  font-size: 1rem;
  border-radius: 3px;
  border: 1px solid #362fd9;
}

button {
  background-color: #362fd9;
  border: none;
  color: #fff;
  cursor: pointer;
}
